force-app/main/default/flows/Package_Installer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Installation_Function</name>
        <label>Run Installation Function</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Result_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_Functions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>install_2G_package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Result_Records</name>
        <label>Update Result Records</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <actionName>Install2GPackage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Installations_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>packageId</name>
            <value>
                <elementReference>Package_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultIds</name>
            <value>
                <elementReference>Function_Result_IDs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Install2GPackage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Save_Result_ID</name>
        <label>Save Result ID</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Function_Result_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_Installation_Function</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Functions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Environments</name>
        <label>Check Environments</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>No_Environment_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Environments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Package_Information</targetReference>
            </connector>
            <label>Has Environments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ {  &quot;name&quot; : &quot;packageID&quot;,  &quot;value&quot; : &quot;&apos; &amp; {!Package_ID} &amp;  &apos;&quot;},  {&quot;name&quot;: &quot;uninstall&quot;,  &quot;value&quot;: &quot;&apos; &amp; IF({!uninstall}, &quot;true&quot;, &quot;false&quot;) &amp;  &apos;&quot;}, { &quot;name&quot;:&quot;sessionID&quot;, &quot;value&quot;:&quot;{$Context.Credential.SessionId}&quot;}, { &quot;name&quot;:&quot;endpointID&quot;, &quot;value&quot;:&quot;{$Context.Credential.Endpoint}&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>Package Installer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Package Installer</label>
    <loops>
        <name>Create_Functions</name>
        <label>Create Functions</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Installation_Function</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Result_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Installations_Created</name>
        <label>Installations Created</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The installation Functions have been created and you can follow their progress by &lt;a href=&quot;/lightning/o/copado__Result__c/list?filterName=Recent&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;watching their Result objects&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Environment_Selected</name>
        <label>No Environments Selected</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoEnvironments</name>
            <fieldText>&lt;p&gt;Please select at least one environment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Package_Information</name>
        <label>Package Information</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Functions</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Enter the Package ID you would like to install on the selected Environments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package_ID</name>
            <dataType>String</dataType>
            <fieldText>Package ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>uninstall</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Uninstall</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Environments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Function_Result_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record IDs from the List View</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
